.header_bg {
  background: var(--Background-White, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
  .hero {
    display: flex;
    align-items: center;
    margin-right: auto;
    padding: 6px 0px;
  
    .hero_call_box {
      margin-left: auto;
      margin-right: 221px;
  
      .hero_link_call {
        color: var(--Text-Main, #1e1e1e);
        font-size: 16px;
        font-weight: 539;
        letter-spacing: 0.16px;
        margin-left: 9px;
      }
    }
  }
  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding-bottom: 11px;
  
    .header_logo {
      width: 91px;
      height: 35px;
      margin-right: 97px;
    }
  
    .header_btn {
      display: flex;
      align-items: center;
      gap: 12px;
      width: 149px;
      height: 29px;
      padding: 11px 19px;
      justify-content: center;
      flex-shrink: 0;
      border-radius: 8px;
      background: var(
        --Button-Gradient,
        linear-gradient(270deg, #4d5ef6 0%, #f64d4d 100%)
      );
      color: var(--Background-White, #fff);
      font-size: 16px;
      font-weight: 591;
      letter-spacing: 0.16px;
      text-transform: uppercase;
      margin-right: 60px;
      transition: all 0.3s ease-in-out;
    }
  
    .header_btn:hover {
      background: var(
        --Button-Gradient,
        linear-gradient(270deg, #3648f0 0%, #f63b3b 100%)
      );
    }
  
    .header_form {
      display: flex;
      align-items: center;
      background: var(--Background-White, #fff);
      margin-right: 54px;
  
      .header_input {
        color: var(--Text-secondary, #6c757d);
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 539;
        letter-spacing: 0.6px;
        border: none;
        border-radius: 8px 0px 0px 8px;
        border: 1px solid var(--Stroke-Primary, #e4e7ee);
        padding: 14px 217px 14px 18px;
      }
  
      .header_search_box {
        display: flex;
        width: 61px;
        height: 48px;
        padding: 11px 18px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 0px 8px 8px 0px;
        background: var(--Background-Main-color, #0d63f3);
      }
    }
  
    .header_btn_logo {
      display: flex;
      width: 29px;
      height: 29px;
      padding: 11px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      padding: 11px;
      border-radius: 8px;
      background: var(--Background-Secondary, #ecf4ff);
      margin-right: 26px;
      transition: all 0.3s ease-in-out;
    }
  
    .header_btn_logo:last-child {
      margin-right: 59px;
    }
  
    .header_btn_logo:hover {
      background: var(--Background-Secondary, #c5daf8);
    }
  
    .header_link_welcome {
      color: var(--Text-Main, #101828);
      text-align: center;
      font-family: sans-serif;
      font-size: 16px;
      font-weight: 539;
      border-radius: 10px;
      background: var(
        --Button-gradient-20,
        linear-gradient(
          270deg,
          rgba(77, 94, 246, 0.2) 0%,
          rgba(246, 77, 77, 0.2) 100%
        )
      );
      padding: 13px 26px;
      transition: all 0.3s ease-in-out;
    }

    .header_link_welcome:hover {
      background: var(
        --Button-gradient-20,
        linear-gradient(
          270deg,
          rgba(45, 66, 247, 0.2) 0%,
          rgba(245, 46, 46, 0.2) 100%
        )
      );
    }
  }
}

