.header_bg {
  background: var(--Background-White, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.header_bg .hero {
  display: flex;
  align-items: center;
  margin-right: auto;
  padding: 6px 0px;
}
.header_bg .hero .hero_call_box {
  margin-left: auto;
  margin-right: 221px;
}
.header_bg .hero .hero_call_box .hero_link_call {
  color: var(--Text-Main, #1e1e1e);
  font-size: 16px;
  font-weight: 539;
  letter-spacing: 0.16px;
  margin-left: 9px;
}
.header_bg .header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  padding-bottom: 11px;
}
.header_bg .header .header_logo {
  width: 91px;
  height: 35px;
  margin-right: 97px;
}
.header_bg .header .header_btn {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 149px;
  height: 29px;
  padding: 11px 19px;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Button-Gradient, linear-gradient(270deg, #4d5ef6 0%, #f64d4d 100%));
  color: var(--Background-White, #fff);
  font-size: 16px;
  font-weight: 591;
  letter-spacing: 0.16px;
  text-transform: uppercase;
  margin-right: 60px;
  transition: all 0.3s ease-in-out;
}
.header_bg .header .header_btn:hover {
  background: var(--Button-Gradient, linear-gradient(270deg, #3648f0 0%, #f63b3b 100%));
}
.header_bg .header .header_form {
  display: flex;
  align-items: center;
  background: var(--Background-White, #fff);
  margin-right: 54px;
}
.header_bg .header .header_form .header_input {
  color: var(--Text-secondary, #6c757d);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 539;
  letter-spacing: 0.6px;
  border: none;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid var(--Stroke-Primary, #e4e7ee);
  padding: 14px 217px 14px 18px;
}
.header_bg .header .header_form .header_search_box {
  display: flex;
  width: 61px;
  height: 48px;
  padding: 11px 18px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0px 8px 8px 0px;
  background: var(--Background-Main-color, #0d63f3);
}
.header_bg .header .header_btn_logo {
  display: flex;
  width: 29px;
  height: 29px;
  padding: 11px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 11px;
  border-radius: 8px;
  background: var(--Background-Secondary, #ecf4ff);
  margin-right: 26px;
  transition: all 0.3s ease-in-out;
}
.header_bg .header .header_btn_logo:last-child {
  margin-right: 59px;
}
.header_bg .header .header_btn_logo:hover {
  background: var(--Background-Secondary, #c5daf8);
}
.header_bg .header .header_link_welcome {
  color: var(--Text-Main, #101828);
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 539;
  border-radius: 10px;
  background: var(--Button-gradient-20, linear-gradient(270deg, rgba(77, 94, 246, 0.2) 0%, rgba(246, 77, 77, 0.2) 100%));
  padding: 13px 26px;
  transition: all 0.3s ease-in-out;
}
.header_bg .header .header_link_welcome:hover {
  background: var(--Button-gradient-20, linear-gradient(270deg, rgba(45, 66, 247, 0.2) 0%, rgba(245, 46, 46, 0.2) 100%));
}

.nav_box_hero {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.nav_box_hero .nav_btn_left {
  display: flex;
  width: 42px;
  height: 42px;
  padding: 9px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50%;
  background: var(--Button-gradient-20, linear-gradient(270deg, rgba(77, 94, 246, 0.2) 0%, rgba(246, 77, 77, 0.2) 100%));
}
.nav_box_hero .nav_img {
  height: 321px;
  background-repeat: 18px;
  -o-object-fit: cover;
     object-fit: cover;
}
.nav_box_hero .nav_btn_right {
  display: flex;
  width: 42px;
  height: 42px;
  padding: 9px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50%;
  background: var(--Button-Gradient, linear-gradient(270deg, #4d5ef6 0%, #f64d4d 100%));
}

.nav_box_down {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 92px;
}
.nav_box_down .nav_btn_left {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--Button-Gradient, linear-gradient(270deg, #4d5ef6 0%, #f64d4d 100%));
}
.nav_box_down .nav_btn_all {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border-radius: 16px;
  background: var(--Button-gradient-20, linear-gradient(270deg, rgba(77, 94, 246, 0.2) 0%, rgba(246, 77, 77, 0.2) 100%));
}

.section_title {
  color: var(--Text-Main, #1e1e1e);
  font-size: 28px;
  font-weight: 591;
  margin-bottom: 20px;
}

.section_list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 16px;
  margin-bottom: 20px;
}
.section_list .section_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 135.89px;
  height: 200px;
  padding: 9px 0px;
  gap: 3px;
  border-radius: 10px;
  background: var(--Background-White, #fff);
}
.section_list .section_item .section_img {
  width: 136px;
  margin-bottom: 3px;
  -o-object-fit: cover;
     object-fit: cover;
}
.section_list .section_item .section_min_title {
  color: var(--Text-Main, #1e1e1e);
  text-align: center;
  font-size: 16px;
  font-weight: 539;
  letter-spacing: 0.16px;
}

.section_link {
  color: var(--Text-Main, #1e1e1e);
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 591;
  display: flex;
  height: 50px;
  padding: 17px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--Background-White, #fff);
  margin-bottom: 40px;
}

.section_link:hover {
  background: var(--Stroke-Primary, #E4E7EE);
}

.main_title {
  color: var(--Text-Main, #1e1e1e);
  font-size: 28px;
  font-weight: 591;
  margin-bottom: 20px;
}

.main_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-bottom: 37px;
}
.main_list .main_item {
  position: relative;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  background: var(--Background-White, #fff);
  width: 230px;
  height: 377px;
}
.main_list .main_item .text_sale {
  position: absolute;
  left: 10px;
  top: 10px;
  color: var(--Background-White, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  background: var(--primary-color-Main, #ff0101);
  display: inline-flex;
  padding: 5px 10px;
  align-items: flex-start;
  gap: 10px;
}
.main_list .main_item .text_news {
  position: absolute;
  left: 10px;
  top: 10px;
  color: var(--Background-White, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  background: var(--primary-color-Main, #EB8528);
  display: inline-flex;
  padding: 5px 10px;
  align-items: flex-start;
  gap: 10px;
}
.main_list .main_item .main_heart_img {
  position: absolute;
  right: 14px;
  top: 14px;
  width: 24px;
  height: 24px;
}
.main_list .main_item .main_img {
  width: 180px;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main_list .main_item .main_price {
  color: var(--Background-Main-color, #0d63f3);
  font-size: 18px;
  font-weight: 591;
  margin-bottom: 6px;
}
.main_list .main_item .main_text {
  color: var(--Text-Main, #1e1e1e);
  font-size: 14px;
  font-weight: 539;
  margin-bottom: 33px;
}
.main_list .main_item .main_text_second {
  margin-bottom: 8px;
}
.main_list .main_item .main_text_third {
  margin-bottom: 46px;
}
.main_list .main_item .main_text_fifth {
  margin-bottom: 26px;
}
.main_list .main_item .main_text_fifth_sec {
  margin-bottom: 26px;
}
.main_list .main_item .main_buy {
  color: var(--Text-secondary, #6c757d);
  font-size: 14px;
  font-weight: 539;
}
.main_list .main_item .main_links {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.main_list .main_item .main_links .main_btn {
  color: var(--Background-White, #fff);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 539;
  letter-spacing: 0.16px;
  padding: 10px 34px;
  border-radius: 8px;
  margin-right: 20px;
  background: var(--Background-Main-color, #0d63f3);
  transition: all 0.3s ease-in-out;
}
.main_list .main_item .main_links .main_btn:hover {
  background: var(--Background-Main-color, #397cee);
}

.article_btn {
  color: var(--Text-Main, #1e1e1e);
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 591;
  display: flex;
  height: 50px;
  padding: 17px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--Background-White, #fff);
  margin-bottom: 40px;
}

.article_btn:hover {
  background: var(--Stroke-Primary, #E4E7EE);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  all: unset;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
}

#container {
  width: 1200px;
  margin: 0 auto;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(236, 244, 255);
}/*# sourceMappingURL=main.css.map */